{% extends "base.html" %}{% load sekizai_tags social_share cache staticfiles %}
{% block title %}Bookmarks - {{ user.get_full_name }}{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
{% for bookmark in bookmarks %}
<div class="card">
    <div class="card-body">
        <a href="{{ bookmark.activity.get_absolute_url }}"><h2>{{ bookmark.activity.title }}</h2></a><br />
        <p>Bookmarked at {{ bookmark.created }}</p>
    </div>
</div>
{% empty %}
<p>You haven't bookmarked anything.</p>
{% endfor %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/csrf_ajax.js' %}"></script>
{% endblock scripts %}