{% extends "base.html" %}{% load sekizai_tags thumbnail cache staticfiles %}
{% block title %}Bookmarks - {{ user.get_full_name }}{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
<div class="card-deck">
{% for bookmark in bookmarks %}
    <div class="card">
        {% if bookmark.activity.featured_photo %}
            <img src="{{ bookmark.activity.featured_photo.url }}" class="card-img-top" alt="{{ bookmark.activity.title }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ bookmark.activity.get_absolute_url }}">
                    {{ bookmark.activity.title }}
                </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ bookmark.activity.region }}</h6>
            <p class="card-text">{{ bookmark.activity.description|truncatechars:50 }}</p>
            {% for tag in bookmark.activity.tags.all %}
            <a href="#" class="card-link">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Bookmarked at {{ bookmark.created }}
            </small>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
        </div><br /><div class="card-deck">
    {% endif %}
{% empty %}
    <p>You haven't bookmarked anything.</p>
{% endfor %}
</div>
<br />
{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/csrf_ajax.js' %}"></script>
{% endblock scripts %}