{% extends "container.html" %}
{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Step {{ wizard.steps.step1 }} - Activity Creation Wizard{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <form action="" method="POST" class="col-lg" novalidate>
        {% csrf_token %}
        <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
        {{ wizard.management_form }}
        {{ wizard.form|crispy }}
        <div class="clearfix">
            <div class="float-left">
                {% if wizard.steps.prev %}
                    <button class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
                {% endif %}
                <button type="submit" class="btn btn-success">Next</button>
            </div>
            <div class="float-right">
                <a href="{% url 'activities:create' %}?reset" alt="Reset Activity Form" title="Reset Activity Form" class="btn btn-dark">Reset</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}