{% extends "base.html" %}
{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Step {{ wizard.steps.step1 }} - Activity Creation Wizard{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <form action="" enctype="multipart/form-data" method="POST" class="col-lg" novalidate>
        {% csrf_token %}
        <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
        {{ wizard.management_form }}
        {{ wizard.form|crispy }}
        {% if wizard.steps.prev %}
            <button class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
        {% endif %}
        <button type="submit" class="btn btn-success">Next</button>
    </form>
</div>
{% endblock content %}