{% extends "container.html" %}
{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Step {{ wizard.steps.step1 }} - Activity Creation Wizard{% endblock title %}
{% block styles %}
<style>
#div_id_5-fh_item_id {
    display: none;
}
</style>
{% endblock styles %}
{% block content %}
<div class="row justify-content-center">
    <form action="" method="POST" class="col-lg">
        {% csrf_token %}
        <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Activity Pricing</h4>
            <p>
                FareHarbor handles all the activities bookings and payments.
                If you are hosting a free activity, then do not worry about the <strong>FareHarbor Item ID. </strong>
                However, if you are hosting a paid activity, then you will need to fill out the field with the FareHarbor Item
                ID.
                You will also need to insert your FareHarbor username in your host profile.
            </p>
            <hr>
            <p class="mb-0">If you need help with setting up FareHarbor for your paid activity, contact us.</p>
        </div><br />
        {{ wizard.management_form }}
        {{ wizard.form|crispy }}
        <div class="clearfix">
            <div class="float-left">
                {% if wizard.steps.prev %}
                    <button class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
                {% endif %}
                <button type="submit" class="btn btn-success">Next</button>
            </div>
            <div class="float-right">
                <a href="{% url 'activities:create' %}?reset" alt="Reset Activity Form" title="Reset Activity Form" class="btn btn-dark">Reset</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $('#id_5-price').on('input', function () {
        if (this.value > 0.00) {
            $('#div_id_5-fh_item_id').show();
        } else {
            $('#div_id_5-fh_item_id').hide();
        }
    });
</script>
{% endblock scripts %}