.t2c-navbar {
    border-bottom: 0.094em solid #000;
}

.fullvh {
    width: 100%; height: 100vh;
}

.fullvh-width {
    width: 100vh;
}

.fullvh-height {
    height: 100vh;
}

.messages {
    position: absolute;
    left: 0; right: 0;
    margin-right: auto; margin-left: auto;
    margin-top: 20px;
    z-index: 999 !important;
}

#activity_button:hover {
    text-decoration: none;
}
.activity-card {
    height: 100% !important;
}
a .activity-card {
    color: #212529;
}
.activity-card h4 {
    font-size: 1.2rem;
}
.activity-card .card-text {
    font-size: 0.9rem;
}
.activity-card .card-img-top {
    height: 20vh;
    object-fit: cover;
}