{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% render_block "css" %}
        {% block styles %}{% endblock styles %}
        {% addtoblock "css" %}
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous"
        >
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="{% static 'css/bootstrap_custom.css' %}">
        <link href='{% static "css/modern-business.css" %}' rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        {% endaddtoblock %}
        <style>
            .bg-transparent {
              background-color: rgba(0, 0, 0, 0.5) !important;
            }
            .navbar-nav .nav-link {
              padding-right: 5px;
              padding-left: 5px;
            }
        
        </style>
    </head>
    <body>
        {% cms_toolbar %}
        {% include 'partials/navigation.html' %}
        {% include 'partials/messages.html' %}
        {% block jumbo %}
        {% endblock jumbo %}
        <div class="container p-3">
            <main class="content">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
        <footer class="py-5 bg-light">
            <div class="container">
                <p class="m-0 text-center text-black">Copyright &copy; travel2change 2019</p>
            </div>
            <!-- /.container -->
        </footer>
        {% render_block "js" %}
        {% block scripts %}{% endblock scripts %}
        {% addtoblock "js" %}
            <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"
            ></script>
            <script 
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
                crossorigin="anonymous"
            ></script>
            <script 
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
                crossorigin="anonymous"
            ></script>
            <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
            </script>
        {% endaddtoblock %}
    </body>
</html>
