{% extends "base.html" %}{% load humanize thumbnail sekizai_tags cache staticfiles %}
{% block title %}Reviews about {{ host.name }}{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/star-ratings/star-rating.min.css' %}" media="all" type="text/css" />
<link rel="stylesheet" href="{% static 'css/star-ratings/krajee-fas/theme.css' %}" media="all" type="text/css" />
{% endblock styles %}
{% block jumbo %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Reviews about {{ host.name }}</h1>
    </div>
</div>
{% endblock jumbo %}
{% block content %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endaddtoblock %}
{% if reviews %}
{% for review in reviews %}
<div class="card">
    <div class="card-header clearfix">
        <div class="float-left">
            {% if review.show_name %}
                {{ review.user.full_name }}
            {% else %}
                Traveler#{{ review.pk }}
            {% endif %}
        </div>
        <div class="float-right">
            {% if request.user == host.user and review.show_email %}
                {{ review.user.email }}
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Activity: <a
                href="{% url 'activities:detail' review.activity.region.slug review.activity.slug review.activity.pk %}"
                alt="{{ review.activity.title }}">
                {{ review.activity.title }}
            </a>
        </h5>
        <p class="card-text">{{ review.content }}</p>
    </div>
    <div class="card-footer text-muted clearfix">
        <div class="float-left">{{ review.created|naturaltime }}</div>
        <div class="float-right">
            <input class="rating" type="number" value="{{ review.rating }}" data-size="xs" />
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No one hasn't reviewed any of {{ host.name }} activities yet.</p>
{% endif %}
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/star-ratings/star-rating.js' %}" type="text/javascript"></script>
    <script src="{% static 'css/star-ratings/krajee-fas/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/star-ratings/star-rating-custom.js' %}" type="text/javascript"></script>
{% endblock scripts %}

