{% extends "base.html" %}{% load thumbnail sekizai_tags cache staticfiles %}
{% block title %}{{ host.name }}{% endblock title %}
{% block jumbo %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ host.name }}</h1>
    </div>
</div>
{% endblock jumbo %}
{% block content %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
{% endaddtoblock %}
<article class="single-activity">
    <ul class="nav nav-pills mb-3" id="profile-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="activities" aria-selected="false">Activities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
        {% if request.user == host.user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'host_update' host.slug %}">Edit Profile</a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% if host.description %}
                {{ host.description }}
            {% else %}
                <span><em>Description is yet to be provided.</em></span>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab">
            <div class="row">
                {% for activity in activities %}
                <div class="col-md-3">
                    <div class="card">
                        {% if bookmark.activity.featured_photo %}
                        <img src="{{ activity.featured_photo.url }}" class="card-img-top" alt="{{ activity.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ activity.get_absolute_url }}">
                                    {{ activity.title }}
                                </a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ activity.region }}</h6>
                            <p class="card-text">{{ activity.description|truncatechars:100 }}</p>
                            {% for tag in activity.tags.all %}
                            <a href="#" class="card-link">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                Created by {{ activity.approved_time }}
                            </small>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                    </div><br />
                    <div class="row">
                {% endif %}
                {% empty %}
                    <p>Host have not created an activity yet.</p>
                {% endfor %}
            </div>
            <p class="text-center">
                {% if show_more_activities %}
                <a href="{% url 'host_activities' host.slug %}">Show More Activities</a>
                {% endif %}
            </p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            {% if host.phone %}
            <div class="card">
                <div class="card-body">
                    <strong>Phone: </strong>
                    {{ host.phone }}
                </div>
            </div>
            {% endif %}
            {% if host.website %}
            <div class="card">
                <div class="card-body">
                    <strong>Website: </strong>
                    {{ host.website }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</article>
{% endblock content %}
{% block scripts %}
<script>
    $(function () {
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('#profile-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop() || $('html').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
    });
</script>
{% endblock %}