{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Modify Account" %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a href="{% url 'user_update' %}" class="list-group-item list-group-item-action">
                Edit Account
            </a>
            {% if user.host %}
            <a href="{% url 'host_update' %}" class="list-group-item list-group-item-action">
                Edit Profile
            </a>
            <a href="{% url 'host_activities_dashboard' %}" class="list-group-item list-group-item-action active">
                Your Activities
            </a>
            {% endif %}
            <a href="{% url 'user_reviews' %}" class="list-group-item list-group-item-action">
                Your Reviews
            </a>
            <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">
                Email Management
            </a>
            <a href="{% url 'account_change_password' %}" class="list-group-item list-group-item-action">
                Change Password
            </a>
        </div>
        <br />
    </div>
    <div class="col-lg-8">
        <div class="card">
            <h5 class="card-header">{% trans "Your Activities" %}</h5>
            <div class="card-body">
                {% for activity in activities %}
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h6>
                            {% if activity.status == 'unapproved' %}
                            <span   class="badge badge-warning mr-1"
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    title="Awaiting Approval"
                                    alt="Awaiting Approval"
                            >
                                <i class="fas fa-pause-circle"></i>
                            </span>
                            {% endif %}
                            <a href="{{ activity.get_absolute_url}}">{{ activity.title }}</a>
                        </h6>
                    </div>
                    <div class="col-md-4 text-muted">{{ activity.created|date:"M d, Y" }}</div>
                    <div class="col-md-2">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Activity Actions">
                            <a  class="btn btn-secondary" 
                                href="{% url 'activities:update' activity.region.slug activity.slug %}"
                                data-toggle="tooltip"
                                alt="Edit Activity"
                                title="Edit Activity"
                            >
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a  class="btn btn-secondary"
                                href="{% url 'activities:delete' activity.region.slug activity.slug %}"
                                data-toggle="tooltip"
                                alt="Delete Activity"
                                title="Delete Activity"
                            >
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                {% empty %}
                <p>You have not created an activity.</p>
                {% endfor %}
            </div>
        </div><br />
    </div>
</div>
{% endblock %}