{% extends "account/base.html" %}
{% load i18n crispy_forms_tags staticfiles %}
{% block title %}{% trans "Edit Review" %}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/star-ratings/star-rating.min.css' %}" media="all" type="text/css" />
<link rel="stylesheet" href="{% static 'css/star-ratings/krajee-fas/theme.css' %}" media="all" type="text/css" />
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/star-ratings/star-rating.js' %}" type="text/javascript"></script>
<script src="{% static 'css/star-ratings/krajee-fas/theme.js' %}" type="text/javascript"></script>
<script src="{% static 'js/star-ratings/star-rating-custom.js' %}" type="text/javascript"></script>
{% endblock %}
