.single-activity .jumbotron {
    background-color: transparent;
}
.single-activity .block {
    margin-bottom: 3rem !important;
}
.single-activity div li {
    margin-bottom: 1rem !important;
}
.social_share {
    margin-bottom: 2rem;
}
.social_share i {
    font-size: 20px;
}
.social_share a{
    text-decoration: none;
}
.edit-profile {
    margin-bottom: 2rem;
}
.fareharbor-widget {
    margin-bottom: 2rem;
}