#register {
    background-color: white;
}

body {
    background-image: url( '/static/img/registrationImage1.jpg' );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 