{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock title %}

{% block content %}
	<div class="container">
        <h1>Oh no!</h1>
        <p>You are stuck in a middle of no-where. You thought you were going to the right direction, but now you have to make a decision.</p>
        <ol>
            <li>Go back to where you came from?</li>
            <li>Try to figure out what went wrong?</li>
            <li>Report this to the heavens</li>
        </ol>
	</div>
{% endblock content %}
