{% extends "auth.html" %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block authblock %}

    {% if user.is_authenticated %}
        <span>You are currently logged in.</span>
    {% else %}
        <h1>Login to travel2change</h1>
        <form method="POST" class="mb-3">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form|crispy }}
            <button type="submit" class="btn-success btn-lg btn-block">Login</button>
        </form>
        <div class="text-center">
            <p><a href="{% url 'accounts:password_reset' %}"><small>Forgot Password?</small></a></p>
            <hr>
            <p>Don't have an account? <a href="{% url 'accounts:register' %}'">Click here to register!</a></p>
        </div>
    {% endif %}

{% endblock authblock %}