{% extends "auth.html" %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block authblock %}

    {% if user.is_authenticated %}
        <span>You are currently logged in.</span>
    {% else %}
        <h1>Register to travel2change</h1>
        <form method="POST" class="mb-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn-success btn-lg btn-block">Register</button>
        </form>
        <div class="text-center">
            <hr>
            <p>Have an account? <a href="{% url 'accounts:login' %}">Login here!</a></p>
        </div>
    {% endif %}

{% endblock authblock %}