{% extends "container.html" %}{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Approve {{ activity.title }}{% endblock title %}
{% block content %}
<div class="row">
    <article>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Approving Activity</h4>
            <p>
                Approving an activity means someone has reviewed the activity and verified that it meets the guidelines. 
                It also means that a FareHarbor item has been created for the user. 
            </p>
            <hr>
            <p class="mb-0">
                If the activity is free, then a FareHarbor item will be provided. If not, then the 
                host will need to have their own FareHarbor item ID.
            </p>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </article>
</div>
{% endblock content %}