.photo-row, .edit-profile, .fareharbor-widget, .social_share {
    margin-bottom: 2rem !important;
}
.single-activity .jumbotron {
    background-color: transparent;
}
.single-activity section {
    margin-bottom: 2rem;
}
.single-activity div li {
    line-height: 2rem;
}
.single-activity .activity-actions {
    text-align: right;
}
.photo-gallery .photo {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.social_share i {
    font-size: 20px;
}
.social_share a {
    text-decoration: none;
}
.delete-photo {
    text-align: center;
}
@media (max-width: 768px) { 
    .single-activity .activity-actions {
        text-align: left;
    }
 }
