body {
    background: linear-gradient(180deg, white 0%, white 25%, #000000, #f9f9f9 25%, #f9f9f9 100%);
}

.photo-row, .edit-profile, .fareharbor-widget, .social_share {
    margin-bottom: 2rem !important;
}
.single-activity .activity_gallery {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.single-activity .activity-title-cover {
    border-radius: 0 !important;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    padding: 1.5rem;
}
.single-activity .activity-host .modified {
    font-size: 0.75rem;
    color: #b2bec3;
}
.single-activity .activity-tags div {
    margin-top:0.25rem; margin-bottom:0.25rem;
}
.single-activity .activity-tags a {
    text-decoration: none;
}
.single-activity .activity-tags i {
    margin-right: 5px;
    font-size: 18px;
}
.single-activity section {
    margin-bottom: 2rem;
}
.single-activity .fav-share {
    margin-bottom: 1rem;
}
.single-activity div li {
    line-height: 2rem;
}
.single-activity .activity-actions {
    text-align: right;
}
.photo-gallery .photo {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.social_share i {
    font-size: 20px;
}
.social_share a {
    text-decoration: none;
}
.delete-photo {
    text-align: center;
}
@media (max-width: 768px) { 
    .single-activity .activity-actions {
        text-align: left;
    }
    .single-activity .activity-title-cover .display-4 {
        font-size: 2rem;
    }
 }
