
@media only screen and (max-width: 768px) { 
    a.forgot-pass {
        float: left !important;
    }
}

a.forgot-pass {
    float: right;
}

.authform {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.authform h1 {
    text-align: center !important;
    margin-bottom: 2rem;
}

/* hack */
.input-group ~ .invalid-feedback{ 
    display: block; 
}