.t2c-navbar {
    border-bottom: 0.094em solid #000;
}

.fullvh {
    width: 100%; height: 100vh;
}

.fullvh-width {
    width: 100vh;
}

.fullvh-height {
    height: 100vh;
}

.messages {
    position: absolute;
    left: 0; right: 0;
    margin-right: auto; margin-left: auto;
    margin-top: 20px;
    z-index: 999 !important;
}