{% extends "base.html" %}{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Edit Photos - {{ activity.title }}{% endblock title %}
{% block content %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
{% endaddtoblock %}
<div class="row">
    <aside class="col-sm-4">
        <div class="list-group">
            <a href="{% url 'activities:update' activity.region activity.slug activity.pk %}" class="list-group-item list-group-item-action">Edit Activity</a>
            <a href="{% url 'activities:upload' activity.region activity.slug activity.pk %}" class="list-group-item list-group-item-action active">Edit Images</a>
            <a href="#" class="list-group-item list-group-item-action">FareHarbor Dashboard</a>
            <a href="{{ activity.get_absolute_url }}" class="list-group-item list-group-item-action">View Activity</a>
        </div>
    </aside>
    <article class="single-activity col-sm-8">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <table class="table">
            <thead>
                <tr><td>Photos</td></tr>
            </thead>
            <tbody>
                {% for photo in photos %}
                <tr>
                    <td><a href="{{ photo.file.url }}" title="{{ photo.file.name}}" alt="{{ photo.file.name }}">{{ photo.file.name }}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td>No photos</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit images" />
        </form>
    </article>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/image-upload.js' %}"></script>
{% endblock scripts %}