{% extends "base.html" %}{% load crispy_forms_tags %}

{% block title %}
    Create Activity - Step {{ wizard.steps.step1 }}
{% endblock title %}

{% block content %}
<div class="container">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <div>
            {{ wizard.management_form }}
            {{ wizard.form|crispy }}
        </div>
        {% if wizard.steps.prev %}
            <button class="btn btn-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
        {% endif %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock content %}