{% extends "base.html" %}{% load crispy_forms_tags sekizai_tags cache staticfiles %}
{% block title %}Edit Images - {{ activity.title }}{% endblock title %}
{% block content %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/activity.css' %}">
{% endaddtoblock %}
<div class="row">
    <aside class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">Edit Activity</a>
            <a href="#" class="list-group-item list-group-item-action">Edit Images</a>
            <a href="#" class="list-group-item list-group-item-action">FareHarbor Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action">View Activity</a>
        </div>
    </aside>
    <article class="single-activity col-sm-8">
        <div class="well text-muted text-center" style="padding-top: 4rem; padding-bottom: 4rem;">
            <h3>Drop Photos Here to Upload</h3>
        </div>
        <input
            id="fileupload"
            type="file"
            name="file"
            multiple
            style="display: none;"
            data-url="{% url 'activities:images_upload' %}"
            data-form-data='{"csrfmiddlewaretoken": "{{% csrf_token %}}"}'
        >
        
    </article>
</div>
{% addtoblock "js" %}
    <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'js/basic-upload.js' %}"></script>
{% endaddtoblock %}
{% endblock content %}