https://github.com/divio/django-cms/archive/develop.zip?1549600901.7531183
https://github.com/divio/djangocms-admin-style/archive/master.zip?1549600901.7531183
django-treebeard>=4.0,<5.0

https://github.com/divio/djangocms-text-ckeditor/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-file/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-link/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-style/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-googlemap/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-snippet/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-picture/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-video/archive/master.zip?1549600901.7531183
https://github.com/divio/djangocms-column/archive/master.zip?1549600901.7531183
easy_thumbnails
django-filer>=1.3
Django<2.2
django-mptt>0.9
django-classy-tags>=0.7
html5lib>=1.0.1
Pillow>=3.0
django-sekizai>=0.9
six
pytz