{% extends "base.html" %}{% load google_maps_api crispy_forms_tags sekizai_tags social_share cache staticfiles %}
{% block title %}{{ activity.title }}{% endblock title %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/activities/activity.css' %}" />
<link rel="stylesheet" href="{% static 'css/star-ratings/star-rating.min.css' %}" media="all" type="text/css" />
<link rel="stylesheet" href="{% static 'css/star-ratings/krajee-fas/theme.css' %}" media="all" type="text/css" />
<style>
    #map {
        height: 300px;
    }
</style>
{% endblock styles %}
{% if activity.status == activity.STATUS.unapproved %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    This activity is not approved yet, and is only visible to the host and staff users.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="row">
    <article class="single-activity col-sm-8">
        <div class="jumbotron">
            <h1 class="display-4">
                {{ activity.title }}
            </h1>
            <hr class="my-4">
            <p class="lead">Hosted by <a href="{{ activity.host.get_absolute_url }}">{{ activity.host.name }}</a></p>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-light" data-url="{% url 'bookmarks:set' activity.pk %}" data-action="bookmark" title="Bookmark">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none;"></span>
                        <span class="bookmarkText">{% if bookmarked %}Remove{% else %}Bookmark{% endif %}</span>
                    </button>
                    {% endif %}
                    <div class="social_share dropdown float-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Share
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% post_to_facebook activity.get_absolute_url "Facebook" %}
                            {% post_to_twitter "Check this out: {{ activity.title }}" activity.get_absolute_url "Twitter" %}
                        </div>
                    </div>
                </div>
                <div class="description block"><p>{{ activity.description }}</p></div>
                <div class="highlights block">
                    <h2>Highlights</h2>
                    <ul>
                        {% for highlight in activity.highlights_as_list %}
                            <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if activity.requirements %}
                <div class="requirements block">
                    <h2>Requirements</h2>
                    <ul>
                    {% for requirement in activity.requirements_as_list %}
                        <li>{{ requirement }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="location block">
                    <h2>Address</h2>
                    <p>{{ activity.address }}</p>
                    <div id="map"></div>
                    <script>
                    function initMap() {
                        var myLatLng = {
                            lat: parseFloat("{{ activity.latitude }}"), 
                            lng: parseFloat("{{ activity.longitude }}"),
                        };

                        var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: myLatLng
                        });

                        var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: '{{ activity.title }}'
                        });
                    }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key={% google_maps_api %}&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
        <br />
        {% if can_review %}
        <h2>Add Review</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
            </div>
        </div>
        <br />
        {% endif %}
        <h2>{{ activity.title }} Reviews - {{ activity.average_rating }}</h2><br />
        <div class="card">
            <div class="card-body">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="clearfix">
                        <div class="float-left">
                            <h5 class="card-title">
                                {% if review.show_name %}
                                {{ review.user.get_full_name }}
                                {% else %}
                                Traveler#{{ review.user.pk }}
                                {% endif %}
                            </h5>
                            {% if is_host and review.show_email %}
                            <p class="text-muted">{{ review.user.email }}</p>
                            {% endif %}
                        </div>
                        <div class="float-right">
                            <input
                                class="rating"
                                type="number"
                                value="{{ review.rating }}"
                                data-size="xs"
                            />
                        </div>
                    </div>
                    <p class="card-text">{{ review.content }}</p>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                {% else %}
                <p class="card-text">No reviews yet.</p>
                {% endif %}
            </div>
        </div>
    </article>
    <aside class="col-sm-4">
        {% if is_host %}
        <div class="edit-profile">
            <a href="{% url 'activities:update' activity.region.slug activity.slug activity.pk %}" class="btn btn-primary btn-lg btn-block">Edit</a>
        </div>
        {% endif %}
        {% if activity.fh_item_id %}
        <div class="card fareharbor-widget">
            <div class="card-body">
                {% if activity.is_free %}
                    {% if activity.fh_item_id %}
                        <!-- FareHarbor calendar of item #{{ activity.fh_item_id }} -->
                        <script src="https://fareharbor.com/embeds/script/calendar/travel2change/items/{{ activity.fh_item_id }}/?fallback=simple&flow=18919"></script>
                    {% else %}
                        <p class="card-text">Please insert FareHarbor Item ID</p>
                    {% endif %}
                {% else %}
                    {% if activity.fh_item_id and activity.host.fh_username %}
                        <!-- FareHarbor calendar of item #{{ activity.fh_item_id }} -->
                        <script src="https://fareharbor.com/embeds/script/calendar/{{ activity.host.fh_username }}/items/{{ activity.fh_item_id }}/?fallback=simple&flow=18919"></script>
                    {% else %}
                        <p class="card-text">Please insert FareHarbor Item ID and/or FareHarbor Username</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if photos %}
        <div id="photo-gallery-{{ activity.pk }}" class="photo-gallery carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for photo in photos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ photo.file.url }}" class="d-block w-100" alt="{{ activity.title }} - Photo #{{ forloop.counter1 }}">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#photo-gallery-{{ activity.pk }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#photo-gallery-{{ activity.pk }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}
        {% if request.user.is_staff or request.user.is_superuser %}
            {% if activity.status == 'unapproved' %}
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-success btn-block" href="{% url 'moderations:approve' activity.pk %}" target="_blank">
                        Approve
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-danger btn-block" href="{% url 'moderations:disapprove' activity.pk %}" target="_blank">
                        Disapprove
                    </a>
                </div>
            </div>
            {% endif %}
        {% endif %}
    </aside>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/star-ratings/star-rating.js' %}" type="text/javascript"></script>
<script src="{% static 'css/star-ratings/krajee-fas/theme.js' %}" type="text/javascript"></script>
<script src="{% static 'js/star-ratings/star-rating-custom.js' %}" type="text/javascript"></script>
<script>
$('[data-action="bookmark"]').click(function() {
    var current = $(this);
    var url = current.data('url');
    $('.spinner-border').show();
    $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
            $('.spinner-border').hide();
            document.querySelector(".bookmarkText").textContent = data.message;
            current.prop("disabled", true);
        }
    });
});
</script>
{% endblock scripts %}