{% extends "base.html" %}{% load sekizai_tags cache staticfiles %}
{% block title %}Activity Browse{% endblock title %}
{% block content %}

 <form method="GET" action=".">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="activitybrowse_title">Title</label>
			<input type="text" class="form-control" name="title" id="activitybrowse_title" placeholder="Title contains.." />
		</div>
	</div>
	 <div class="form-row">
		<div class="form-group col-md-6">
			<label for="activitybrowse_region">Region</label>
			<select name="region">
				<option disabled>Choose..</option>
				{% for region in regions %}
				<option value="{{ region }}">{{ region.name }}</option>
				{% endfor %}
			</select>
		</div>
    </div> 
    <div class="form-row">
		<div class="form-group col-md-6">
			<label for="activitybrowse_cat">Categories</label>
			{% for cat in categories %}
			<div class="form-check">
				<input type="checkbox" class="form-check-input" value={{ cat }} name="categories" id="{{ cat.name }}-check" />
				<label class="form-check-label" for="{{ cat.name }}-check">{{ cat.name }}</label>
			</div>
			{% endfor %}
		</div>
	</div>
    <input type="submit" value="Browse">
</form>

<ul>
{% for activity in activityBrowse %}
    <li>  {{ activity.title }} </li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>

{% endblock content %}